*{
    margin: 0px;
}
/* PRIMERA BARRA */
.franja1{
    position: relative;
    color: white;
    font-size: 3rem;
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}
/* IMAGEN SOFKA */
body header div.franja1 img{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30%;

}

body header div.franja1 div{
    font-size: 2.5rem;
    align-items: center;
    left: 1vw;
    bottom: 4vh;
    padding-left: 25%;
   
}

/* CATEGORIAS */
main{
    margin: 20%;
    margin-top: 10%;
}
main h2{
    font-size: 2.5rem;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}
main form  {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    
}
main div.categoria img {
    width: 200px;
    height: 100px;
    padding-right: 40%;
}

/* PIE DE PÁGINA */
.pie{
    color: white;
    background-color: lightgray;
    text-align: center;
    padding: 3vh;
}